In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [35]:
df = pd.read_csv('/mnt/e/Term 3/Machin-Learning/Projects/Final Project/data/Processed/df_combined.csv')

In [36]:
df.head()

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
0,810103224,male,-456.045555,142.109744,-10.081760,11.358436,-5.563454,-14.229978,-14.564094,-11.849205,...,307.455372,5.496304,5.484402,5.510828,3.406621,3.437743,10.979427,11.924411,0.046321,0.010187
1,810101503,male,-271.472268,124.527592,-53.455654,13.359365,-28.947255,-21.030226,-34.102018,-23.920914,...,343.250159,4.797961,4.448341,4.304549,3.122736,2.781056,5.809023,6.761690,0.065375,0.023540
2,810899073,male,-324.214651,120.301229,-46.576594,18.676486,-20.602945,-30.306612,-14.825075,-22.003343,...,255.516765,5.197175,4.772259,4.750911,3.494712,2.880271,10.479853,10.422095,0.046464,0.035650
3,810103054,male,-455.632162,111.198228,-36.395153,22.661647,-15.548778,-10.143570,-23.270572,-23.032490,...,260.191214,6.738307,6.159727,5.796693,3.595718,3.459656,10.377034,11.384748,0.064611,0.006264
4,810103262,male,-387.799118,95.193024,-22.103315,16.329886,-11.554805,-33.310428,-26.742505,-25.629615,...,326.680406,6.771830,7.315096,6.850289,4.849191,4.238498,11.592544,10.076391,0.061277,0.039398

In [37]:
df.tail()

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
51,810600065,female,-421.064137,100.497341,-21.080953,6.512031,-29.596783,-23.632823,-27.574678,-20.611582,...,308.257245,5.503448,6.490378,6.539195,5.150105,4.737702,11.553805,11.100002,0.060064,0.017218
52,810600088,female,-628.395205,97.187132,-15.992405,0.217252,-10.092981,-8.779921,-20.012009,-15.997376,...,411.400195,5.628184,5.958757,6.849976,8.522573,11.598494,13.739715,11.659954,0.093496,0.001807
53,810600097,female,-338.908056,102.431973,-42.286643,5.982145,-26.152148,-28.704817,-22.197184,-19.302401,...,325.354864,6.954035,6.853235,6.476994,4.899717,4.436119,10.995530,10.985755,0.065158,0.032551
54,810600133,female,-424.850331,84.246430,-54.945817,17.019653,-37.940770,-22.070725,-27.548186,-11.508297,...,234.680247,6.059415,6.499711,6.372094,5.556500,4.709001,10.977147,10.817045,0.060753,0.009684
55,810800024,female,-527.935279,101.646598,-17.684900,8.573006,-10.001892,-1.251856,-16.665982,-20.051410,...,357.584553,4.582884,6.089193,6.159967,4.622622,4.589002,11.639950,12.862792,0.078971,0.006180

In [38]:
df.describe()

,id,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
count,5.600000e+01,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,7.878531e+08,-411.131503,109.790743,-35.634259,9.166160,-23.950651,-23.604178,-23.775545,-20.493425,-13.956523,...,314.172531,5.997064,6.100725,5.830721,4.530366,4.398023,10.574821,10.411523,0.064929,0.020305
std,9.680471e+07,93.616533,15.308675,14.814957,10.371810,10.340530,9.683522,7.014710,6.563294,4.919965,...,48.553180,0.777699,0.728398,0.650234,0.946676,1.785828,1.768942,1.543751,0.012039,0.014040
min,1.594030e+08,-628.395205,79.292781,-70.134196,-17.329544,-49.823607,-41.058919,-43.317003,-41.662794,-23.523998,...,212.080744,4.017864,4.448341,4.304549,3.122736,2.630770,5.809023,6.761690,0.046321,0.001519
25%,8.101003e+08,-453.683854,99.575650,-47.014119,1.395377,-29.847788,-30.606369,-27.922805,-23.677757,-17.471262,...,282.999447,5.501662,5.570731,5.486224,3.882720,3.463058,9.766211,9.533950,0.056147,0.008898
50%,8.101023e+08,-417.266757,109.406063,-39.280984,9.778399,-25.426211,-23.561445,-23.861330,-20.298632,-13.349788,...,312.256335,5.916552,6.164517,5.983667,4.508952,3.963410,10.953852,10.740043,0.063915,0.017772
75%,8.101032e+08,-339.445239,121.344793,-21.847725,17.026718,-17.604757,-15.959450,-18.477172,-15.901417,-11.131845,...,337.692920,6.693887,6.537388,6.296376,5.013028,4.645092,11.570265,11.527998,0.073858,0.030763
max,8.108991e+08,-205.708778,142.686340,-1.867986,28.843172,-1.352868,-1.251856,-8.592893,-8.919016,-2.941025,...,474.292821,7.833442,7.577382,6.850289,8.522573,11.598494,13.739715,13.607414,0.097272,0.063363

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 74 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          56 non-null     int64
 1   gender      56 non-null     object
 2   feature_1   56 non-null     float64
 3   feature_2   56 non-null     float64
 4   feature_3   56 non-null     float64
 5   feature_4   56 non-null     float64
 6   feature_5   56 non-null     float64
 7   feature_6   56 non-null     float64
 8   feature_7   56 non-null     float64
 9   feature_8   56 non-null     float64
 10  feature_9   56 non-null     float64
 11  feature_10  56 non-null     float64
 12  feature_11  56 non-null     float64
 13  feature_12  56 non-null     float64
 14  feature_13  56 non-null     float64
 15  feature_14  56 non-null     float64
 16  feature_15  56 non-null     float64
 17  feature_16  56 non-null     float64
 18  feature_17  56 non-null     float64
 19  feature_18  56 non-null     float64
 20  feature_19  56 non-null     float64
 21  feature_20  56 non-null     float64
 22  feature_21  56 non-null     float64
 23  feature_22  56 non-null     float64
 24  feature_23  56 non-null     float64
 25  feature_24  56 non-null     float64
 26  feature_25  56 non-null     float64
 27  feature_26  56 non-null     float64
 28  feature_27  56 non-null     float64
 29  feature_28  56 non-null     float64
 30  feature_29  56 non-null     float64
 31  feature_30  56 non-null     float64
 32  feature_31  56 non-null     float64
 33  feature_32  56 non-null     float64
 34  feature_33  56 non-null     float64
 35  feature_34  56 non-null     float64
 36  feature_35  56 non-null     float64
 37  feature_36  56 non-null     float64
 38  feature_37  56 non-null     float64
 39  feature_38  56 non-null     float64
 40  feature_39  56 non-null     float64
 41  feature_40  56 non-null     float64
 42  feature_41  56 non-null     float64
 43  feature_42  56 non-null     float64
 44  feature_43  56 non-null     float64
 45  feature_44  56 non-null     float64
 46  feature_45  56 non-null     float64
 47  feature_46  56 non-null     float64
 48  feature_47  56 non-null     float64
 49  feature_48  56 non-null     float64
 50  feature_49  56 non-null     float64
 51  feature_50  56 non-null     float64
 52  feature_51  56 non-null     float64
 53  feature_52  56 non-null     float64
 54  feature_53  56 non-null     float64
 55  feature_54  56 non-null     float64
 56  feature_55  56 non-null     float64
 57  feature_56  56 non-null     float64
 58  feature_57  56 non-null     float64
 59  feature_58  56 non-null     float64
 60  feature_59  56 non-null     float64
 61  feature_60  56 non-null     float64
 62  feature_61  56 non-null     float64
 63  feature_62  56 non-null     float64
 64  feature_63  56 non-null     float64
 65  feature_64  56 non-null     float64
 66  feature_65  56 non-null     float64
 67  feature_66  56 non-null     float64
 68  feature_67  56 non-null     float64
 69  feature_68  56 non-null     float64
 70  feature_69  56 non-null     float64
 71  feature_70  56 non-null     float64
 72  feature_71  56 non-null     float64
 73  feature_72  56 non-null     float64
dtypes: float64(72), int64(1), object(1)
memory usage: 32.5+ KB

In [40]:
df['gender'].value_counts()

gender
male      28
female    28
Name: count, dtype: int64

In [41]:
df.columns

Index(['id', 'gender', 'feature_1', 'feature_2', 'feature_3', 'feature_4',
       'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9',
       'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14',
       'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_19',
       'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24',
       'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29',
       'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34',
       'feature_35', 'feature_36', 'feature_37', 'feature_38', 'feature_39',
       'feature_40', 'feature_41', 'feature_42', 'feature_43', 'feature_44',
       'feature_45', 'feature_46', 'feature_47', 'feature_48', 'feature_49',
       'feature_50', 'feature_51', 'feature_52', 'feature_53', 'feature_54',
       'feature_55', 'feature_56', 'feature_57', 'feature_58', 'feature_59',
       'feature_60', 'feature_61', 'feature_62', 'feature_63', 'feature_64',
       'feature_65', 'feature_66', 'feature_67', 'feature_68', 'feature_69',
       'feature_70', 'feature_71', 'feature_72'],
      dtype='object')

In [42]:
y = df['gender']

In [43]:
y = y.apply(lambda x: 1 if x == 'male' else -1)

In [44]:
df = df.drop(columns=['id', 'gender'])

In [45]:
df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
0,-456.045555,142.109744,-10.081760,11.358436,-5.563454,-14.229978,-14.564094,-11.849205,-17.560919,-11.881930,...,307.455372,5.496304,5.484402,5.510828,3.406621,3.437743,10.979427,11.924411,0.046321,0.010187
1,-271.472268,124.527592,-53.455654,13.359365,-28.947255,-21.030226,-34.102018,-23.920914,-23.523998,-13.489818,...,343.250159,4.797961,4.448341,4.304549,3.122736,2.781056,5.809023,6.761690,0.065375,0.023540
2,-324.214651,120.301229,-46.576594,18.676486,-20.602945,-30.306612,-14.825075,-22.003343,-7.613385,-5.863632,...,255.516765,5.197175,4.772259,4.750911,3.494712,2.880271,10.479853,10.422095,0.046464,0.035650
3,-455.632162,111.198228,-36.395153,22.661647,-15.548778,-10.143570,-23.270572,-23.032490,-8.546286,-13.997378,...,260.191214,6.738307,6.159727,5.796693,3.595718,3.459656,10.377034,11.384748,0.064611,0.006264
4,-387.799118,95.193024,-22.103315,16.329886,-11.554805,-33.310428,-26.742505,-25.629615,-21.406522,-11.747622,...,326.680406,6.771830,7.315096,6.850289,4.849191,4.238498,11.592544,10.076391,0.061277,0.039398

In [46]:
X = df

In [48]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [53]:
X = X.to_numpy()

In [56]:
X.shape

(56, 72)

In [70]:
svm_classifier = SVC(kernel='linear', C=1, random_state=42)

In [71]:
# # Cross validation
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(estimator=svm_classifier, X=X, y=y, cv=cv, scoring="accuracy")

In [72]:
print("Cross-validation accuracies:", scores)
print("Mean accuracy:", scores.mean())

Cross-validation accuracies: [0.91666667 0.81818182 0.90909091 0.63636364 1.        ]
Mean accuracy: 0.8560606060606061

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, shuffle=True,  stratify=y, random_state=42)

print(f'X-train`s shape is: {X_train.shape}')
print(f'X-test`s shape is: {X_test.shape}')

X-train`s shape is: (44, 72)
X-test`s shape is: (12, 72)

In [74]:
svm_classifier.fit(X=X_train, y=y_train)
y_pred = svm_classifier.predict(X_test)

In [75]:
print("\nAccuracy on test set:", accuracy_score(y_test, y_pred))
print("\nClassification report:\n", classification_report(y_test, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy on test set: 1.0

Classification report:
               precision    recall  f1-score   support

          -1       1.00      1.00      1.00         6
           1       1.00      1.00      1.00         6

    accuracy                           1.00        12
   macro avg       1.00      1.00      1.00        12
weighted avg       1.00      1.00      1.00        12


Confusion matrix:
 [[6 0]
 [0 6]]