<a href="https://colab.research.google.com/github/mjmousavi97/MachinLearning-TehranUni-2024/blob/main/Projects/Final%20Project/src/prepare_balanced_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from google.colab import files

In [3]:
uploaded = files.upload()

Saving processed_features (1).csv to processed_features (1).csv

In [4]:
df = pd.read_csv('/content/processed_features (1).csv')

In [5]:
df.head()

,file_name,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,id,gender
0,HW1_Q5_159403005_male.mp3,-366.249108,123.833206,-39.281316,-3.645372,-14.236462,-24.647222,-31.240593,-28.083876,-11.787792,...,6.091566,5.542606,3.975120,4.768754,10.272667,10.214406,0.049621,0.024161,159403005,male
1,HW1_Q6_810103146_male.mp3,-588.872355,125.100890,-24.485900,17.280049,-17.532478,-15.952730,-8.525033,-24.814333,-17.578835,...,5.262488,5.084067,3.782120,4.485039,12.977027,12.317271,0.053655,0.001649,810103146,male
2,HW1_Q3_810100107_male.mp3,-248.265962,121.320401,-46.533523,38.722161,-20.318026,-4.829107,-20.965555,-20.801089,-12.501102,...,5.363383,5.501842,3.568206,3.210981,8.379653,6.303463,0.081746,0.040632,810100107,male
3,HW1_Q6_810103112_male.mp3,-459.328542,91.579614,-10.711723,13.661453,-14.005515,-10.544291,-18.587549,-22.645896,-17.796876,...,5.244909,6.550245,6.715201,6.954696,11.738149,11.001539,0.083750,0.011283,810103112,male
4,HW1_intro_810103269_male.mp3,-523.087209,92.231330,-38.374928,-13.531664,-50.827071,2.403356,-41.845082,-14.036215,-21.877605,...,5.305569,4.561085,3.053857,3.326797,7.059275,10.008399,0.110765,0.003758,810103269,male

In [6]:
df.describe()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
count,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,...,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000
mean,-413.707616,115.031426,-35.060181,10.853980,-21.532794,-19.754123,-21.984500,-20.623481,-14.260550,-12.872815,...,303.657570,5.818108,5.707340,5.542832,4.293442,4.359662,10.055965,10.196980,0.064495,0.018242
std,104.535841,20.729664,17.286140,13.348775,10.654675,10.737901,7.992604,7.287656,5.717839,5.612846,...,56.060267,0.768061,0.828887,0.778867,1.290322,2.200612,2.206401,1.961458,0.016924,0.013833
min,-1131.370850,0.000000,-76.100823,-31.505125,-55.672123,-45.925466,-49.591067,-49.529917,-29.464365,-29.882148,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-470.583135,99.155692,-46.636926,2.211598,-28.321892,-27.547589,-27.406401,-25.360708,-18.227722,-16.440263,...,266.806931,5.346714,5.120471,5.044514,3.561831,3.102996,8.772587,9.154037,0.051971,0.007178
50%,-403.738796,117.148888,-36.801512,11.333129,-21.666029,-19.199842,-21.540899,-20.800735,-13.972146,-13.101252,...,301.851738,5.695854,5.699477,5.521549,4.015142,3.669265,10.293679,10.548811,0.063566,0.014584
75%,-342.189833,128.512167,-23.874390,20.068913,-14.321440,-12.377770,-17.065283,-16.373541,-10.096817,-9.185002,...,338.412339,6.201383,6.255740,6.085337,4.653254,4.613668,11.502647,11.586407,0.075911,0.026341
max,-205.708778,174.173484,26.145282,44.835558,10.414240,15.106322,3.458813,0.194280,1.921311,1.414503,...,514.443023,8.539933,7.649803,8.118927,11.632561,15.580336,16.141036,13.727888,0.114210,0.063363

In [8]:
df.dtypes

file_name      object
feature_1     float64
feature_2     float64
feature_3     float64
feature_4     float64
               ...
feature_70    float64
feature_71    float64
feature_72    float64
id             object
gender         object
Length: 75, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 75 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   file_name   362 non-null    object
 1   feature_1   362 non-null    float64
 2   feature_2   362 non-null    float64
 3   feature_3   362 non-null    float64
 4   feature_4   362 non-null    float64
 5   feature_5   362 non-null    float64
 6   feature_6   362 non-null    float64
 7   feature_7   362 non-null    float64
 8   feature_8   362 non-null    float64
 9   feature_9   362 non-null    float64
 10  feature_10  362 non-null    float64
 11  feature_11  362 non-null    float64
 12  feature_12  362 non-null    float64
 13  feature_13  362 non-null    float64
 14  feature_14  362 non-null    float64
 15  feature_15  362 non-null    float64
 16  feature_16  362 non-null    float64
 17  feature_17  362 non-null    float64
 18  feature_18  362 non-null    float64
 19  feature_19  362 non-null    float64
 20  feature_20  362 non-null    float64
 21  feature_21  362 non-null    float64
 22  feature_22  362 non-null    float64
 23  feature_23  362 non-null    float64
 24  feature_24  362 non-null    float64
 25  feature_25  362 non-null    float64
 26  feature_26  362 non-null    float64
 27  feature_27  362 non-null    float64
 28  feature_28  362 non-null    float64
 29  feature_29  362 non-null    float64
 30  feature_30  362 non-null    float64
 31  feature_31  362 non-null    float64
 32  feature_32  362 non-null    float64
 33  feature_33  362 non-null    float64
 34  feature_34  362 non-null    float64
 35  feature_35  362 non-null    float64
 36  feature_36  362 non-null    float64
 37  feature_37  362 non-null    float64
 38  feature_38  362 non-null    float64
 39  feature_39  362 non-null    float64
 40  feature_40  362 non-null    float64
 41  feature_41  362 non-null    float64
 42  feature_42  362 non-null    float64
 43  feature_43  362 non-null    float64
 44  feature_44  362 non-null    float64
 45  feature_45  362 non-null    float64
 46  feature_46  362 non-null    float64
 47  feature_47  362 non-null    float64
 48  feature_48  362 non-null    float64
 49  feature_49  362 non-null    float64
 50  feature_50  362 non-null    float64
 51  feature_51  362 non-null    float64
 52  feature_52  362 non-null    float64
 53  feature_53  362 non-null    float64
 54  feature_54  362 non-null    float64
 55  feature_55  362 non-null    float64
 56  feature_56  362 non-null    float64
 57  feature_57  362 non-null    float64
 58  feature_58  362 non-null    float64
 59  feature_59  362 non-null    float64
 60  feature_60  362 non-null    float64
 61  feature_61  362 non-null    float64
 62  feature_62  362 non-null    float64
 63  feature_63  362 non-null    float64
 64  feature_64  362 non-null    float64
 65  feature_65  362 non-null    float64
 66  feature_66  362 non-null    float64
 67  feature_67  362 non-null    float64
 68  feature_68  362 non-null    float64
 69  feature_69  362 non-null    float64
 70  feature_70  362 non-null    float64
 71  feature_71  362 non-null    float64
 72  feature_72  362 non-null    float64
 73  id          362 non-null    object
 74  gender      362 non-null    object
dtypes: float64(72), object(3)
memory usage: 212.2+ KB

In [11]:
df['gender'].value_counts()

gender
male         275
female        74
MALE           4
810103226      3
810103092      2
810199459      2
male 2         1
male​          1
Name: count, dtype: int64

In [18]:
df['gender'] = df['gender'].str.strip().str.lower()

In [19]:
df['gender'].value_counts()

gender
male         279
female        74
810103226      3
810103092      2
810199459      2
male 2         1
male​          1
Name: count, dtype: int64

In [25]:
df = df[df['gender'].isin(values=['male', 'female'])]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 353 entries, 0 to 361
Data columns (total 75 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   file_name   353 non-null    object
 1   feature_1   353 non-null    float64
 2   feature_2   353 non-null    float64
 3   feature_3   353 non-null    float64
 4   feature_4   353 non-null    float64
 5   feature_5   353 non-null    float64
 6   feature_6   353 non-null    float64
 7   feature_7   353 non-null    float64
 8   feature_8   353 non-null    float64
 9   feature_9   353 non-null    float64
 10  feature_10  353 non-null    float64
 11  feature_11  353 non-null    float64
 12  feature_12  353 non-null    float64
 13  feature_13  353 non-null    float64
 14  feature_14  353 non-null    float64
 15  feature_15  353 non-null    float64
 16  feature_16  353 non-null    float64
 17  feature_17  353 non-null    float64
 18  feature_18  353 non-null    float64
 19  feature_19  353 non-null    float64
 20  feature_20  353 non-null    float64
 21  feature_21  353 non-null    float64
 22  feature_22  353 non-null    float64
 23  feature_23  353 non-null    float64
 24  feature_24  353 non-null    float64
 25  feature_25  353 non-null    float64
 26  feature_26  353 non-null    float64
 27  feature_27  353 non-null    float64
 28  feature_28  353 non-null    float64
 29  feature_29  353 non-null    float64
 30  feature_30  353 non-null    float64
 31  feature_31  353 non-null    float64
 32  feature_32  353 non-null    float64
 33  feature_33  353 non-null    float64
 34  feature_34  353 non-null    float64
 35  feature_35  353 non-null    float64
 36  feature_36  353 non-null    float64
 37  feature_37  353 non-null    float64
 38  feature_38  353 non-null    float64
 39  feature_39  353 non-null    float64
 40  feature_40  353 non-null    float64
 41  feature_41  353 non-null    float64
 42  feature_42  353 non-null    float64
 43  feature_43  353 non-null    float64
 44  feature_44  353 non-null    float64
 45  feature_45  353 non-null    float64
 46  feature_46  353 non-null    float64
 47  feature_47  353 non-null    float64
 48  feature_48  353 non-null    float64
 49  feature_49  353 non-null    float64
 50  feature_50  353 non-null    float64
 51  feature_51  353 non-null    float64
 52  feature_52  353 non-null    float64
 53  feature_53  353 non-null    float64
 54  feature_54  353 non-null    float64
 55  feature_55  353 non-null    float64
 56  feature_56  353 non-null    float64
 57  feature_57  353 non-null    float64
 58  feature_58  353 non-null    float64
 59  feature_59  353 non-null    float64
 60  feature_60  353 non-null    float64
 61  feature_61  353 non-null    float64
 62  feature_62  353 non-null    float64
 63  feature_63  353 non-null    float64
 64  feature_64  353 non-null    float64
 65  feature_65  353 non-null    float64
 66  feature_66  353 non-null    float64
 67  feature_67  353 non-null    float64
 68  feature_68  353 non-null    float64
 69  feature_69  353 non-null    float64
 70  feature_70  353 non-null    float64
 71  feature_71  353 non-null    float64
 72  feature_72  353 non-null    float64
 73  id          353 non-null    object
 74  gender      353 non-null    object
dtypes: float64(72), object(3)
memory usage: 209.6+ KB

In [27]:
df['gender'].value_counts()

gender
male      279
female     74
Name: count, dtype: int64

In [28]:
df['id'].value_counts()

id
810202047    7
810103295    7
610399206    6
810103269    6
159403005    6
            ..
810100268    1
810800024    1
810101471    1
810100222    1
810103338    1
Name: count, Length: 117, dtype: int64

In [32]:
features_cols = [col for col in df.columns if col not in ['id', 'gender', 'file_name']]

In [38]:
df_sub = df.groupby(['id', 'gender'])[features_cols].mean().reset_index()

In [39]:
df_sub

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
0,151501033,male,-370.401515,151.784332,-24.930625,2.051821,-11.717264,-12.290823,-13.833619,-16.875474,...,285.033320,5.631551,6.160460,5.529502,4.188054,4.650055,7.668540,7.509266,0.044384,0.022516
1,159403005,male,-354.093513,126.610384,-42.788121,-0.912371,-17.726690,-27.047658,-29.509538,-29.632703,...,246.748842,4.914688,5.763075,5.522980,4.047288,4.291940,9.800564,10.157639,0.046583,0.025903
2,610300017,male,-309.492368,103.344475,-42.647431,14.742539,-24.241264,-11.337742,-15.645380,-34.622563,...,287.126873,5.792771,6.683506,6.072297,4.312921,3.460617,11.483770,10.292041,0.071059,0.039930
3,610300032,male,-270.824967,128.065729,-45.841263,9.172524,-21.647821,-20.680943,-20.493355,-26.862538,...,285.112204,5.919256,5.687411,5.832889,4.300173,3.327620,7.180779,6.286052,0.058142,0.055790
4,610300070,female,-350.178821,92.887911,-38.376963,3.538316,-28.491834,-27.980296,-26.099963,-20.545854,...,279.955879,6.134332,6.508435,6.014758,4.575202,4.613530,11.128247,9.827090,0.053121,0.027666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,810600133,female,-424.850331,84.246430,-54.945817,17.019653,-37.940770,-22.070725,-27.548186,-11.508297,...,234.680247,6.059415,6.499711,6.372094,5.556500,4.709001,10.977147,10.817045,0.060753,0.009684
113,810800024,female,-527.935279,101.646598,-17.684900,8.573006,-10.001892,-1.251856,-16.665982,-20.051410,...,357.584553,4.582884,6.089193,6.159967,4.622622,4.589002,11.639950,12.862792,0.078971,0.006180
114,810801072,male,-386.340611,136.224026,-43.179420,20.747944,-11.119539,-5.144601,-13.601876,-20.615202,...,246.755720,5.050870,4.751012,4.542835,2.704814,2.478586,4.745161,7.006731,0.050381,0.009046
115,810801075,male,-304.791822,123.773291,-64.822334,11.091027,-33.960302,-13.724773,-15.523748,-24.190917,...,223.376078,4.778703,5.487531,4.962619,3.379896,2.606931,8.105547,8.983024,0.051939,0.024892
116,810899073,male,-324.214651,120.301229,-46.576594,18.676486,-20.602945,-30.306612,-14.825075,-22.003343,...,255.516765,5.197175,4.772259,4.750911,3.494712,2.880271,10.479853,10.422095,0.046464,0.035650

In [40]:
df_sub['gender'].value_counts()

gender
male      89
female    28
Name: count, dtype: int64

In [54]:
gender_series = df_sub['gender'] == 'male'
gender_series

0       True
1       True
2       True
3       True
4      False
       ...
112    False
113    False
114     True
115     True
116     True
Name: gender, Length: 117, dtype: bool

In [60]:
index_male = list(gender_series[gender_series == True].index)

In [47]:
gender_series

0       True
1       True
2       True
3       True
4      False
       ...
112    False
113    False
114     True
115     True
116     True
Name: gender, Length: 117, dtype: bool

In [61]:
selected_index_male = np.random.choice(index_male, size=28, replace=False)

In [71]:
selected_index_male

array([114,  29,  70,  72,   2,  94,  17,  97, 104,  93,  88,  91,  92,
        34,  42,  37,  96,  10,  89,  84,   0, 111,  47,  40,  23, 116,
        54,   3])

In [67]:
df_woman = df_sub[df_sub['gender'] == 'female']

In [92]:
df_woman.head()

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
4,610300070,female,-350.178821,92.887911,-38.376963,3.538316,-28.491834,-27.980296,-26.099963,-20.545854,...,279.955879,6.134332,6.508435,6.014758,4.575202,4.613530,11.128247,9.827090,0.053121,0.027666
8,810100075,female,-450.508487,93.135202,-18.966393,17.494261,-31.867224,-36.023053,-35.611351,-12.824215,...,358.255103,7.026351,6.508030,6.297292,5.126639,4.320866,12.197343,11.796786,0.082276,0.012035
12,810100135,female,-413.469378,101.414155,-41.029626,-6.608120,-32.868772,-30.028779,-21.600294,-13.226907,...,316.553046,6.815179,6.504752,6.262396,5.065591,4.222934,11.562839,10.791493,0.063652,0.017463
14,810100168,female,-447.889520,103.567595,-13.235332,-2.031489,-33.287584,-38.861490,-28.352323,-16.288971,...,390.630351,6.923009,6.061344,5.689727,4.697507,4.641829,11.404558,11.170607,0.069379,0.013655
15,810100193,female,-428.524087,118.956841,-18.562050,25.120440,-26.903672,-35.963733,-27.079377,-13.101574,...,310.803128,5.828080,5.158897,5.096592,4.123039,3.624962,9.371395,10.746217,0.049529,0.007939

In [74]:
df_sub

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
0,151501033,male,-370.401515,151.784332,-24.930625,2.051821,-11.717264,-12.290823,-13.833619,-16.875474,...,285.033320,5.631551,6.160460,5.529502,4.188054,4.650055,7.668540,7.509266,0.044384,0.022516
1,159403005,male,-354.093513,126.610384,-42.788121,-0.912371,-17.726690,-27.047658,-29.509538,-29.632703,...,246.748842,4.914688,5.763075,5.522980,4.047288,4.291940,9.800564,10.157639,0.046583,0.025903
2,610300017,male,-309.492368,103.344475,-42.647431,14.742539,-24.241264,-11.337742,-15.645380,-34.622563,...,287.126873,5.792771,6.683506,6.072297,4.312921,3.460617,11.483770,10.292041,0.071059,0.039930
3,610300032,male,-270.824967,128.065729,-45.841263,9.172524,-21.647821,-20.680943,-20.493355,-26.862538,...,285.112204,5.919256,5.687411,5.832889,4.300173,3.327620,7.180779,6.286052,0.058142,0.055790
4,610300070,female,-350.178821,92.887911,-38.376963,3.538316,-28.491834,-27.980296,-26.099963,-20.545854,...,279.955879,6.134332,6.508435,6.014758,4.575202,4.613530,11.128247,9.827090,0.053121,0.027666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,810600133,female,-424.850331,84.246430,-54.945817,17.019653,-37.940770,-22.070725,-27.548186,-11.508297,...,234.680247,6.059415,6.499711,6.372094,5.556500,4.709001,10.977147,10.817045,0.060753,0.009684
113,810800024,female,-527.935279,101.646598,-17.684900,8.573006,-10.001892,-1.251856,-16.665982,-20.051410,...,357.584553,4.582884,6.089193,6.159967,4.622622,4.589002,11.639950,12.862792,0.078971,0.006180
114,810801072,male,-386.340611,136.224026,-43.179420,20.747944,-11.119539,-5.144601,-13.601876,-20.615202,...,246.755720,5.050870,4.751012,4.542835,2.704814,2.478586,4.745161,7.006731,0.050381,0.009046
115,810801075,male,-304.791822,123.773291,-64.822334,11.091027,-33.960302,-13.724773,-15.523748,-24.190917,...,223.376078,4.778703,5.487531,4.962619,3.379896,2.606931,8.105547,8.983024,0.051939,0.024892
116,810899073,male,-324.214651,120.301229,-46.576594,18.676486,-20.602945,-30.306612,-14.825075,-22.003343,...,255.516765,5.197175,4.772259,4.750911,3.494712,2.880271,10.479853,10.422095,0.046464,0.035650

In [80]:
df_man = df_sub.iloc[selected_index_male].reset_index(drop=True)

In [81]:
df_combined = pd.concat([df_man, df_woman], axis=0).reset_index(drop=True)

In [91]:
df_combined.head()

,id,gender,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72
0,810801072,male,-386.340611,136.224026,-43.179420,20.747944,-11.119539,-5.144601,-13.601876,-20.615202,...,246.755720,5.050870,4.751012,4.542835,2.704814,2.478586,4.745161,7.006731,0.050381,0.009046
1,810101423,male,-404.048010,91.509764,-44.150721,14.320113,-25.281454,-25.906391,-21.983472,-25.652972,...,287.119596,5.893342,6.598912,6.022564,4.012443,3.173356,11.573379,11.728322,0.079551,0.013924
2,810103146,male,-566.681931,125.844458,-26.550128,19.077504,-17.238958,-16.381396,-10.381327,-26.160726,...,326.861535,5.186163,5.242687,5.122809,3.820069,3.463872,12.666842,12.202080,0.056193,0.002015
3,810103162,male,-323.382614,95.733462,-64.958174,25.555656,-18.972702,-36.281131,-23.466410,-22.268405,...,282.945913,5.507621,5.851112,5.406654,3.951949,3.459042,9.517486,8.464363,0.068007,0.025430
4,610300017,male,-309.492368,103.344475,-42.647431,14.742539,-24.241264,-11.337742,-15.645380,-34.622563,...,287.126873,5.792771,6.683506,6.072297,4.312921,3.460617,11.483770,10.292041,0.071059,0.039930

In [84]:
df_combined['id'].value_counts()

id
810801072    1
810101423    1
810103146    1
810103162    1
610300017    1
810198500    1
810100206    1
810199328    1
810199569    1
810103345    1
810103317    1
810103339    1
810103344    1
810101540    1
810102066    1
810101575    1
810199319    1
810100107    1
810103322    1
810103264    1
151501033    1
810600125    1
810102160    1
810102029    1
810100270    1
810899073    1
810102559    1
610300032    1
610300070    1
810100075    1
810100135    1
810100168    1
810100193    1
810100222    1
810100268    1
810100590    1
810101456    1
810101471    1
810101551    1
810102017    1
810102027    1
810102087    1
810102148    1
810102327    1
810103093    1
810103123    1
810103197    1
810103338    1
810198554    1
810199489    1
810199570    1
810600065    1
810600088    1
810600097    1
810600133    1
810800024    1
Name: count, dtype: int64

In [86]:
df_combined['gender'].value_counts()

gender
male      28
female    28
Name: count, dtype: int64

In [90]:
df.to_csv('/content/df_combined.csv', index=False)